body {
  background-color: rgba(36, 36, 34, 0.404);
  color: black;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #434e57;
  color: rgb(190, 184, 184);
  border-radius: 5px;
  border-style: none;
}
input {
  height: 26px;
  border-style: none;
    border-radius: 5px;
}
